.card {
  color: $black;
  width: 250px;
  height: 200px;
  padding: 5px;
  margin-top: 10px;
  font-weight: lighter;
  line-height: $normal-line-height;
  font-size: $normal-font-size;
  text-align: center;
}

.message {
  background: $yellow;
}

.demo {
  background: $fadesand;
}

.stack {
  padding: 0;
  margin: 0;

  list-style: none;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
